NODE_ENV=development

PROJECT_NAME=music_generator
DOCKER_DB_VOLUME=music_generator_db_volume

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>

ANTHROPIC_API_KEY=
APP_BASE_URL=

# https://docs.sunoapi.org/
SUNO_API_BASE_URL=https://apibox.erweima.ai/api/v1
SUNO_API_API_KEY=